h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.card {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    width: 400px;
    float: left;
}